* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.about-us {
    width: 100%;
}

.about-us h1 {
    text-align: center;
    font-size: 40px;
    color: #2b9ec2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 50px;
}

.about-us h1::after {
    content: "";
    height: 5px;
    width: 200px;
    background-color: #2b9ec2;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.wrapper {
    padding: 0px 60px;
    margin: 60px auto;
}

.content {
    width: 60%;
    float: left;
    text-align: left;
    padding: 0px 30px;
}

.content h3 {
    color: #222;
    letter-spacing: 1px;
    font-size: 30px;
}

.content p {
    font-family: sans-serif;
    font-size: 18px;
    color: #3d3d3d;
    margin-top: 20px;
}

.content .button {
    margin-top: 40px;
}

.content .button a,
.content .button p {
    color: #fff;
    background-color: #2b9ec2;
    border: 1px solid #2b9ec2;
    margin: auto;
    padding: 10px 35px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 22px;
    text-transform: uppercase;
}

.content .button a:hover, 
.content .button p:hover {
    background-color: #fff;
    color: #2b9ec2;
}

.content .social {
    margin-top: 30px;
    margin-left: 25px;
}

.content .social a {
    text-decoration: none;
    color: #222;
    font-size: 25px;
    padding: 0px 7px;
}

.content .social a:hover {
    color: #2b9ec2;
    transition: 1s ease;
}

.content .social i {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.imagetop {
    width: 40%;
    float: right;
    padding: 0px 30px;
}

.imagetop img {
    max-width: 100%;
    height: auto;
}

.mission {
    margin-left: 100px;
    margin-right: 100px;

}

.m-content {
    margin-top: 600px;
    display: flex;
    gap: 100px;
    text-align: center;

}

.head {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    color: #2b9ec2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.para {
    margin-top: 30px;
    font-size: large;
    font-family: sans-serif;

}

.story {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    display: flex;
    gap: 100px;
    text-align: center;
}

.shead {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    color: #2b9ec2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.spara {
    margin-top: 30px;
    font-size: large;
    font-family: sans-serif;
}

.aboutvideo {
    padding-top: 15px;

}

#main-content {
    padding: 0 10%;
}

/* Style the search input and social icons */
.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.right-section input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    width: 50%;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.social-icon {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.2s ease-in-out;
}

.social-icon:hover {
    color: #2b9ec2;
}