#Ctechnology {
    padding: 0px 0px;
    color: #ababab;
    top: 260px;
}

.CtechnologySec {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.CtechnologyTitle {
    margin: 20px auto;
}

.CtechnologyTitle span {
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    background-color: #ababab;
}

.Ctechnologypage2 {
    margin: 10px auto 0;
    padding: 7px;
    width: 90%;
    border: 1px solid #0b0b11;
    border-radius: 4px;
    overflow: hidden;
}

.Ctechnologypage2:hover {
    overflow-x: scroll;
}

.Ctechnologynews {
    margin: 10px 0;
}

.CtechnologynewsBox {
    display: flex;
    gap: 30px;
}

.CtechnologynewsCard {
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
}

.CtechnologynewsCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.CtechnologynewsCard .Ctechnologyimg {
    width: 400px;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.CtechnologynewsCard .Ctechnologyimg img {
    width: 90%;
    height: 200px;
    margin: 20px 20px 0;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.CtechnologynewsCard .Ctechnologyimg img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.CtechnologynewsCard .Ctechnologytext {
    padding: 5px 30px;
}

.CtechnologynewsCard .Ctechnologytext .Ctechnologytitle {
    margin-bottom: 10px;
}

.CtechnologynewsCard .Ctechnologytext .Ctechnologytitle a {
    color: #333;
    font-size: 18px;
    text-decoration: none;
}

.CtechnologynewsCard .Ctechnologytext .Ctechnologytitle a:hover {
    text-decoration: underline;
    color: blue;
}

.toPtechnology {
    margin: 20px 0;
    text-align: center;
}

.toPtechnology button {
    padding: 5px;
    color: black;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgb(254, 241, 241);
}

.toPtechnology button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 750px) {
    .CtechnologyTitle span {
        font-size: 24px;
    }

    .CtechnologyContainer {
        margin: 10px 50px;
    }
}